<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Users:</h1>
      <div class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="user in $ctrl.users">
        <span><a href="#" uib-tooltip="{{user.firstName}}">{{user.firstName}}</a></span>
        <span><a href="#" uib-tooltip="{{user.lastName}}">{{user.lastName}}</a></span>
        <span>(<a href="#" uib-tooltip="{{user.email}}">{{user.email}}</a>)</span>
      </div>
    </div>
  </div>
</div>

<!-- <button ng-click="$ctrl.setUser()">add user</button> -->
