<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Users:</h2>
      <div class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="user in $ctrl.users">
        <span><a href="#" uib-tooltip="{{user.firstName}}">{{user.firstName}}</a></span>
        <span><a href="#" uib-tooltip="{{user.lastName}}">{{user.lastName}}</a></span>
        <span>(<a href="#" uib-tooltip="{{user.email}}">{{user.email}}</a>)</span>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row page-header">
    <div class="col-lg-12">
      <h4>First Name:</h4>
      <input type="text" ng-model="$ctrl.fname">
      <h4>Last Name:</h4>
      <input type="text" ng-model="$ctrl.lname">
      <h4>email:</h4>
      <input type="text" ng-model="$ctrl.email">
      <h4>password:</h4>
      <input type="password" ng-model="$ctrl.pass">
    </div>
  </div>
  <button ng-click="$ctrl.setUser($ctrl.fname, $ctrl.lname, $ctrl.email, $ctrl.pass)">add user</button>
</div>
